<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="58f1b7d4-9272-47ff-814c-4093926f58ce" Publisher="CN=paule_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TivaCopterMonitor.Windows</DisplayName>
    <PublisherDisplayName>Paul-Emmanuel SOTIR</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TivaCopterMonitor.Windows.App">
      <m2:VisualElements DisplayName="TivaCopterMonitor.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Windows app for TivaCopter bluetooth monitoring and remote control." ForegroundText="dark" BackgroundColor="#000000">
        <m2:DefaultTile DefaultSize="square150x150Logo" ShortName="TivaCopter">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="proximity" />
    <m2:DeviceCapability Name="bluetooth.rfcomm">
      <m2:Device Id="any">
        <m2:Function Type="name:serialPort" />
      </m2:Device>
    </m2:DeviceCapability>
		<m2:DeviceCapability Name="humaninterfacedevice">
			<m2:Device Id="any">
				<m2:Function Type="usage:0001 0004"/>
				<m2:Function Type="usage:0001 0005"/>
			</m2:Device>
		</m2:DeviceCapability>
  </Capabilities>
</Package>